{% load static %}
{%if request.session.driver_session%}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Auto Rickshaw Booking System</title>
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="/static/images/myauto.png" />
      
      <!-- Library / Plugin Css Build -->
      <link rel="stylesheet" href="/static/css/core/libs.min.css" />
      
      <!-- Aos Animation Css -->
      <link rel="stylesheet" href="/static/vendor/aos/dist/aos.css" />
      
      <!-- Hope Ui Design System Css -->
      <link rel="stylesheet" href="/static/css/hope-ui.min.css?v=2.0.0" />
      
      <!-- Custom Css -->
      <link rel="stylesheet" href="/static/css/custom.min.css?v=2.0.0" />
      
      <!-- Dark Css -->
      <link rel="stylesheet" href="/static/css/dark.min.css"/>
      
      <!-- Customizer Css -->
      <link rel="stylesheet" href="/static/css/customizer.min.css" />
      
      <!-- RTL Css -->
      <link rel="stylesheet" href="/static/css/rtl.min.css"/>
      
      
  </head>
  {%else%}
  <script>
    alert("Session Expired.. login now");
    document.location="/driverlogin";
  </script>
  {%endif%}
  