{% load static %}
{% include 'adminz/dheader.html'%}
{% include 'adminz/slidebardriver.html'%}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div>
       <div class="row">  
          <div class="col-xl-9 col-lg-8">
             <div class="card">
                <div class="card-header d-flex justify-content-between">
                   <div class="header-title">
                      <h4 class="card-title">Change Password Form</h4>
                   </div>
                </div>
                <div class="card-body">
                   <div class="new-user-info">
                     {% include 'adminz/val.html' %}
                      <form name="formID" id="formID" method="POST" action="/dchangecpin/">
                        {% csrf_token %}
                        
                         <div class="row">
                            <div class="form-group col-md-6">
                               <label class="form-label" for="fname">Old Password</label>
                               <input type="text" class="validate[required] form-control" id="op" name="op">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="fname">New Password</label>
                                <input type="text" class="validate[required] form-control" id="np" name="np">
                             </div>
                            <div class="form-group col-md-6">
                               <label class="form-label" for="mobno">Confirm Password</label>
                               <input type="text" class="validate[required] form-control" id="cp" name="cp">
                            </div> 
                            
                            
                         </div>
                         <br>
                     
                         <center>
                         <input type="submit" name="submit" value="Submit" class="btn btn-success">
                         <input type="reset" name="reset" value="Reset" class="btn btn-danger">
                         </center>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    </div>
    {% include 'adminz/footer.html'%}
    {% include 'adminz/val.html' %}
    <script>
      {% if messages %}
      {% for message in messages %}
        alert('{{message}}')
       {% endfor %}
      {% endif %}
      </script>
   

    