{% load static %}
{% include 'adminz/dheader.html'%}
{% include 'adminz/slidebardriver.html'%}
<script>
   {% if messages %}
   {% for message in messages %}
     alert('{{message}}')
    {% endfor %}
   {% endif %}
   </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="conatiner-fluid content-inner mt-n5 py-0">
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="card-title">Rides Booking Details View</h4>
               </div>
               
            </div>
            
            <div class="card-body">
               <div class="table-responsive">
                  <table id="datatable" class="table table-striped" data-toggle="data-table">
                     <thead>
                        <tr class="ligth">
                           <th>#SNO.</th>
                           <th>Customer name</th>
                           <th>Driver name</th>
                           <th>From route</th>
                           <th>To route</th>
                           <th>Total KM</th>
                           <th>Per Km Cost</th>
                           <th>Total Amount</th>
                           <th>Booking Date</th>
                           <th>Booking Time</th>
                           <th>Booking Status</th>
                           <th style="min-width: 100px">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {%if request.session.driver_id%}
                        {% for rb in dridebooks %}
                        <tr>
                        
                           <td>{{rb.id}}</td>
                          <td>{{rb.cid}}</td>
                          <td>{{rb.did}}</td>
                          <td>{{rb.froute}}</td>
                          <td>{{rb.troute}}</td>
                          <td>{{rb.total_km}}</td>
                          <td>{{rb.perkm_cost}}</td>
                          <td>{{rb.total_amount}}</td>
                          <td>{{rb.book_date}}</td>
                          <td>{{rb.book_time}}</td>
                          
                          <td>{{rb.book_status}}</td>
                          <td>{%if rb.book_status != "paid" %}
            
                                <div class="flex align-items-center list-user-action">
                                   <a class="btn btn-sm btn-icon btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" onclick="conform(event)" title="Action" data-original-title="Edit" href="/adminhome/ridebook_update/{{rb.id}}">
                                      <span class="btn-inner">
                                         <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                         </svg>
                                      </span>
                                   </a>
                                   {%endif%}
                                   {%if rb.book_status == "Completed" %}
                                   <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="pay request" href="/adminhome/payment1/{{rb.id}}">pay request</a>
                                  {%endif%}
                                 </div>
                             </td>
        
                        </tr>
                        {% endfor %}
                        {%endif%}
                     </tbody>
                     <tfoot>
                        <tr>
                           <th>#SNO.</th>
                           <th>Customer name</th>
                           <th>Driver name</th>
                           <th>From route</th>
                           <th>To route</th>
                           <th>Total KM</th>
                           <th>Per Km Cost</th>
                           <th>Total Amount</th>
                           <th>Booking Date</th>
                           <th>Booking Time</th>
                           <th>Booking Status</th>
                           <th style="min-width: 100px">Action</th>
                        </tr>
                       </tfoot>
                     </table>
                  </div>
               </div>

         </div>
      </div>
   </div>
               </div>
            
   
       {% include 'adminz/footer.html'%}
       <script type="text/javascript">
         function confirmation(ev)
         {
            ev.preventDefault();
            var urlToRedirect=ev.currentTarget.getAttribute('href');
            console.log(urlToRedirect);
            swal({
               title:"Are you sure want to delete this?",
               text:"You won't able to retrive this",
               icon:"warning",
               buttons:true,
               dangerMode:true,
            })
            .then((willCancel)=>
            {
               if(willCancel)
               {
                  window.location.href=urlToRedirect
               }
            });
            
         }
         function conform(ev)
         {
            ev.preventDefault();
            var urlToRedirect=ev.currentTarget.getAttribute('href');
            console.log(urlToRedirect);
            swal({
               title:"Are you sure want to Take Action  this new Ride Request?",
               
               icon:"warning",
               buttons:true,
               dangerMode:true,
            })
            .then((willCancel)=>
            {
               if(willCancel)
               {
                  window.location.href=urlToRedirect
               }
            });
            
         }
         
       </script>